
html {
    box-sizing: border-box;
    font-family: "Helvetica", "Arial", sans-serif
}

*, :after, :before {
    box-sizing: inherit;
}

body, html {
    height: 100%;
    margin: 0;
}

body {
    font-size: 100%;
    text-align: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    overflow-x: hidden;
    background: #181616;
    color: white;
}

body.funmode {
    animation: colorchange 4s ease-in-out infinite; /* animation-name followed by duration in seconds*/
    /* you could also use milliseconds (ms) or something like 2.5s */
    -webkit-animation: colorchange 4s ease-in-out infinite; /* Chrome and Safari */
}

@keyframes colorchange
{
0%   {background: red;}
25%  {background: yellow;}
50%  {background: blue;}
75%  {background: green;}
100% {background: red;}
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
{
0%   {background: red;}
25%  {background: yellow;}
50%  {background: blue;}
75%  {background: green;}
100% {background: red;}
}

.wrapper {
    padding: 20px 0 80px;
    height: 100%;
}

@media only screen and (min-width: 600px) {
    .wrapper {
        padding: 20px 0 80px;
    }
}

.controls-group {
    margin-bottom: 50px;
}

button {
    font-family: monospace;
    position: relative;
    font-size: larger;
    display: block;
    font-weight: bold;
    appearance: none;
    -webkit-appearance: none;
    padding: 12px 32px;
    margin: 0 auto 32px;
    border: none;
    text-transform: uppercase;
    text-align: center;
    background: white;
    border-radius: 3px;
    color: black;
    outline: none;
    transform: translateY(0px);
    box-shadow: 0px 8px 0px #ccc;
    transition: all 0.2s ease-out;
    cursor: pointer;
}

button.danger {
    color: white;
    background: rgb(210, 60, 60);
    box-shadow: 0px 8px 0px rgb(157, 42, 42);
}
button:focus {
    outline: none;
}

button:active, .ontouchstart {
    background: rgb(235, 235, 235);
    box-shadow: 0px 0px 0px #ccc;
    transform: translateY(8px);
    transition: all 0.06s ease-in-out;
}

button.success {
    color: white;
    background: rgb(60, 210, 65);
    box-shadow: 0px 8px 0px rgb(42, 157, 96);
}

button.success:active, .success.ontouchstart {
    background: rgb(43, 155, 45);
    box-shadow: 0px 0px 0px rgb(42, 157, 96);
}

button.danger:active, .danger.ontouchstart {
    background: rgb(155, 43, 43);
    box-shadow: 0px 0px 0px rgb(157, 42, 42);
}


.container--liveview img {
    width: 100%;
    height: auto;
}  

.flex {
    display: flex;
}

.justify-content-start {
    justify-content: flex-start;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.align-right {
    text-align: right;
}

.drawer {
    bottom: 0;
    overflow: hidden;
    overflow-y: scroll;
    padding-bottom: 120px;
    height: 100%;
    width: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.2s ease-in-out;
}

.drawer.expand {
    transform: scaleY(1);
    transition: transform 0.35s ease-in-out;
}

.drawer.expand .drawer-list {
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.4s 0.5s ease-in-out;
}
 
.drawer-list {
    padding-left: 0;
    margin-top: 0;
}

.drawer .drawer-list {
    opacity: 0;
    transform: translateY(-8px);
    transition: all 0.15s ease-in-out;
}

.drawer-list li {
    list-style-type: none;
    text-align: left;
    margin-bottom: 15px;   
}

.drawer-list li:not(:first-of-type)  {
    margin: 15px 0;
}

.drawer-list li > div {
    padding: 8px 20px;
}

.drawer-list .list-title {
    width: 100%;
    text-transform: uppercase;
    font-size: smaller;
    background: #2a2a2a;
    color: #ccc;
}

.drawer-list .list-options {
    padding: 20px 0;
}

input[type="radio"] {
    position:fixed;opacity:0;
    pointer-events: none;
}

input[type="radio"]+label {
    text-align: center;
    cursor: pointer;
    padding: 10px 26px;
    border-radius: 4px;
    display: block;
}

input[type="radio"]:checked+label {
    color: yellow;
    font-weight: 600;
}



.options--x-scroll-view {
    white-space: nowrap;
    overflow-x: scroll;
}

.options--list-view {
    text-align: center;
    flex-wrap: wrap;
}

.options--list-view > div {
    width: 50%;
    padding: 10px;
}

.options--list-view > div input[type="radio"]+label {
    padding: 10px;
}

.options--centered-view {
    text-align: center;
    justify-content: center;
}
