<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dolly Remote</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script type=text/javascript src="{{url_for('static', filename='js/jquery.js') }}"></script>
  </head>
  <body>
    <div class='wrapper'>
      <h1> Dolly Remote </h1>
      <div>
          <button id="blinkLed">
            Make me blink
          </button>
      </div>

    </div>

    <script type="text/javascript">
      $(function() {
        $('#blinkLed').on('click', function() {
          $.getJSON('/blinkLed', {}, function(data) {
            $("#result").text(data.result);
          });
          return false;
        });
      });
    </script>
  </body>
</html>
