<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dolly Remote</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script type=text/javascript src="{{url_for('static', filename='js/jquery.js') }}"></script>
  </head>
  <body>
    <!-- <nav class="other-controls">
    </nav> -->
    <div class='wrapper'>
      <h1> Dolly Remote </h1>
      <button id="blinkLed">
        Make me blink
      </button>
      <div>
        <div>
          <input id="0" name="shutterOptions" type="radio">
          <label for="0">Option 1: 30"</label>
        </div>
        <div>
          <input id="9" name="shutterOptions" type="radio">
          <label for="9">Option 2: 4"</label>
        </div>
        <div>
          <input id="25" name="shutterOptions" type="radio">
          <label for="25">Option 3: 1/10</label>
        </div>
        <div>
          <input id="39" name="shutterOptions" type="radio">
          <label for="39">Option 4: 1/250</label>
        </div>
      </div>
      <button id="adjustShutterSpeed">
        Adjust Shutter Speed
      </button>
      </div>
    <footer class="camera-controls">
      <button class="button--capture-image" id="">
        <span></span>
      </button>
    </footer>

    <script type="text/javascript">
      $(function() {
        $('#blinkLed').on('click', function() {
          $.getJSON('/blinkLed', {}, function(data) {});
          return false;
        });

        $('#captureImage').on('click', function() {
          $.getJSON('/captureImage', {}, function(data) {});
          return false;
        });
      });
    </script>
  </body>
</html>
