.ReactNipple {
    outline: rgba(red, 0.2) dashed 1px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

  margin: auto;

  cursor: pointer;

  > div {
    opacity: 0.75!important;
  }

  .front {
    opacity: 1!important;
  }
}