.waypoint-chart {
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
    background-color: $black;
    background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .09) 25%, rgba(255, 255, 255, .09) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .09) 75%, rgba(255, 255, 255, .09) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .09) 25%, rgba(255, 255, 255, .09) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .09) 75%, rgba(255, 255, 255, .09) 76%, transparent 77%, transparent);
    background-size:50px 50px;
}