@keyframes fadeAndScaleIn {
	from { opacity: 0; @include transform(scale(0)) }
	65%  { opacity: 1; @include transform(scale(1.15)) }
	to   { opacity: 1; @include transform(scale(1)) }
}

@keyframes scaleXIn {
	from { opacity: 0; @include transform(translateX(-50%) scaleX(0)) }
	65%  { opacity: 0.8; @include transform(translateX(-50%) scaleX(0)) }
	to   { opacity: 1; @include transform(translateX(0%) scaleX(1)) }
}